{
	"name": "@derivation-tech/{PACKAGE}",
	"version": "0.0.1",
	"main": "dist/index.js",
	"types": "dist/index.d.ts",
	"scripts": {
		"clean": "rm -rf dist",
		"format": "prettier --write '**/*'",
		"lint": "eslint \"{src,apps,libs,test}/**/*.ts\"",
		"lint:fix": "eslint \"{src,apps,libs,test}/**/*.ts\" --fix",
		"test": "jest",
		"test:coverage": "jest --coverage=true --coverage-reporters=text",
		"test:ci": "jest --coverage=true --coverage-reporters=json --verbose",
		"test:watch": "npm test -- --watch",
		"prebuild": "rm -r dist/* || mkdir dist || true",
		"build": "tsc --build tsconfig.json",
		"build:check": "node -e \"require('./dist-node')\""
	},
	"dependencies": {
	},
	"devDependencies": {
    	},
	"jest": {
        "verbose": true,
        "collectCoverageFrom": [
          "**/*.(t|j)s"
        ],
        "moduleFileExtensions": [
          "js",
          "json",
          "ts"
        ],
        "rootDir": "./",
        "testEnvironment": "node",
        "testRegex": ".*\\.spec\\.ts$",
        "transform": {
          "^.+\\.ts$": [
            "ts-jest",
            {
              "tsconfig": "tsconfig.test.json"
            }
          ]
        },
        "testTimeout": 30000
    }
}
