{
	"extends": "../../tsconfig.json",
	"compilerOptions": {
		"baseUrl": "./",
		"rootDir": "./src",
		"outDir": "./dist",
		"declarationDir": "./dist"
	},
	"include": [
		"src/**/*.ts",
		"src/**/*.json",
		"types/**/*.ts"
	],
	"exclude": [
		"node_modules",
		"scripts",
		"dist"
	]
}
